[Unit]
Description=CAN2 Configuration
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/ip link set can2 down
ExecStart=/bin/ip link set can2 type can bitrate 500000
ExecStartPost=/bin/ip link set can2 up
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=can2.service
